/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  margin-left: 30px;
}

h1 {
  font-weight: bolder;
  margin: 20px;
}

body {
  margin: 30px;
}

p {
  padding-bottom: 30px;
  padding-left: 50px;
}

strong {
  font-weight: bold;
}

a:hover {
  background-color: black;
  color: white;
}

a:visited {
  color: grey;
}

a {
  color: b;
  margin: 5px;
}

h3 {
  margin: 20px;
}

.errors-count {
  width: 450px;
  border: 2px solid red;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.errors-count h2 {
  background-color: red;
  margin: 0;
  font-size: 15px;
  color: #fff;
  padding-left: 10px;
}

.errors-count li {
  padding: 10px 0 30px 10px;
}

.error {
  border: 1px solid red;
  padding: 2px;
  display: table;
}

.error-title {
  width: 50px;
  background-color: red;
  padding: 2px;
}

ul {
  list-style-type: none;
  margin: 30px;
}

ul li:before {
  content: "・";
  margin-right: 5px;
}
