* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  margin-left: 30px;
}

h1 {
  margin: 30px 0;
}

.book1 {
  padding-left: 30px;
}

span {
  font-weight: bold;
}

p {
  margin: 30px;
}